#suggestedLanguage {
  display: none;
}

body {
  background-color: #666666;
}

.container {
  background-color: #FFCCFF;
  width: auto;
  padding: 16px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #666666;
}

h2, h3, label.question {
  text-align: center;
  color: #FF0066;
}

.btn {
  background-color: white;
  color: #FF0066;
  margin-top: 2em;
}

label.question {
  margin-top: 2em;
  font-size: 18px;
}

#langAnswer {
  text-align: center;
  font-size: 18px;
}