#suggestedLanguage {
  display: none;
}

img {
  display: none;
  width: 200px;
  height: 200px;
  margin: 0px auto;
}

.lol {
  display: none;
  text-align: center;
}

.python {
  display: none;
  text-align: center;
}

.clojure {
  display: none;
  text-align: center;
}

body {
  background-color: #666666;
  background: linear-gradient(black), white);
  margin-left: 12%;
  margin-right: 12%;
}

.container {
  background-color: #FFCCFF;
  width: auto;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
}

.code {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
}

h2, h3, label.question {
  text-align: center;
  color: #FF0066;
}

.btn {
  background-color: white;
  color: #FF0066;
  margin-top: 2em;
}

label.question {
  margin-top: 2em;
  font-size: 18px;
}

#langAnswer {
  text-align: center;
  font-size: 18px;
}